@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: -0.02em;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (min-width: 768px) {
  .animate-scroll {
    animation: scroll 20s linear infinite;
  }
}

@media (max-width: 767px) {
  .animate-scroll {
    animation: scroll 6.67s linear infinite;
  }
}